@model OCarouselListModel

@foreach (var carousel in Model.OCarousels)
{
    var carouselType = carousel.CarouselType.ToString().ToLower();
    var bg = carousel.ShowBackgroundPicture ? $"style=\"background:url('{carousel.BackgroundPictureUrl}') no-repeat center; background-size: cover;\"" : "";

    <div class="ocarousel-grid" @bg>
        @if (carousel.DisplayTitle)
        {
            <div class="title">
                <strong>@carousel.Title</strong>
            </div>
        }

        <div class="carousel-container carousel-@carouselType" data-carouselid="@carousel.Id">
            <div class="loader">
                <img src="/Plugins/NopStation.OCarousels/Contents/images/loader.gif" />
            </div>
        </div>
    </div>
}